@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
input {
    outline:none;
}
html{
    background-color: #fff;
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter';
    font-size: 14px;
    line-height: 171%;
    font-weight: normal;
    font-style: normal;
    color: #303135;
    scroll-behavior: smooth;
}
section{
    position: relative;
    margin-bottom: 90px;
    margin-left: 91px;
}
.wrapper{
    position: relative;
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;
    margin: 0 auto;
}
.wrapper--border{
    border-bottom: 1px solid #222222;
}
.header{
    position: relative;
    background-color: #000;
    z-index: 1;
    width: 100%;
}
.header__top{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header--fixed{
    position: fixed;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    background-color: #FFEC00;
}
.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__box__items{
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 0 22px;
    border-right: 1px solid #222222;
}
.header__box__items--center{
    justify-content: center;
}
.header__box__items:first-child{
    padding-left: 0;
}
.header__icon__svg{
    height: 24px;
    width: 24px;
}
.header__info{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 175%;
    color: #fff;
    padding-left: 7px;
}
.header__info span{
    color: #57575C;
}
.header__social__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__social__box__items{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 22px;
    border-right: 1px solid #222222;
    height: 100%;
    transition: 0.3s all;
}
.telegram-link:hover{
    background: #39AFEC;
    border-right: 1px solid #39AFEC;
}
.viber-link:hover{
    background: #7F4DA0;
    border-right: 1px solid #7F4DA0;
}
.whatsppp-link:hover{
    background: #73B961;
    border-right: 1px solid #73B961;
}
.header__social__box__items:last-child{
    border-right: none;
}
.header__social__box__link{
    position: relative;
    display: block;
    height: 24px;
}
.bascket{
    position: absolute;
    top: -15px;
    right: -15px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F44336;
    font-weight: 700;
    font-size: 11px;
    line-height: 118%;
    color: #fff;
}
.header__left{
    position: sticky;
    left: 0;
    width: 91px;
    background-color: #000;
}
.header__left__box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 91px;
    max-width: 91px;
    height: calc(100vh - 88px);
    overflow-y: scroll;
    background-color: #000;
    border-right: 1px solid #222222;
}
.header__left__box::-webkit-scrollbar{
    display: none;
}
.header__left__box__items{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #222222;
}
.header__left__link{
    display: block;
    padding: 18px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #57575C;
    text-align: center;
}
.header__left__link img{
    padding-bottom: 8px;
}
.hero{
    background-color: #000;
}
.hero__box{
    display: flex;
    padding-top: 32px;
}
.hero__box--scroll{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: stretch;
}
.hero__box--scroll::-webkit-scrollbar {
    display: none;
    margin-left: -16px;
    margin-right: -16px;
}
.hero__box__items{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: -16px;
    margin-right: -16px;
}
.hero__discount{
    display: flex;
}
.hero__box__link{
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 16px;
    padding-right: 16px;
}
.hero__box__inner{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 268px;
    width: 100%;
    margin-bottom: 32px;
}
.hero__box__inner:nth-child(3n), .hero__box__inner:nth-child(4n){
    margin-bottom: 0;
}
.hero__box__title{
    display: block;
    background: #000000;
    border-radius: 100px;
    width: fit-content;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 20px 20px;
    transition: 0.3s all;
}
.hero__box__link:hover .hero__box__title{
    background: #ffec00;
    color: #000;
}
.hero__box__discount{
    display: flex;
    flex: 0 0 346px;
    max-width: 346px;
    padding-left: 16px;
    padding-right: 16px;
}
.hero__box__discount--first{
    padding-left: 32px;
}
.hero__box__discount__link{
    display: block;
    width: 100%;
    height: 100%;
}
.hero__box__discount__inner{
    position: relative;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 698px;
    width: 100%;
}
.info__box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.info__box__items h1{
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 40px;
}
.info__box__items p{
    padding-bottom: 20px;
}
.info__box__items p:last-child{
    padding-bottom: 0;
}
.info__footer{
    position: relative;
    left: 0;
    bottom: -40px;
    max-width: 895px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 20px;
}
.info__footer__items{
    position: relative;
    content: '';
    height: 72px;
    width: 100%;
    background-color: #FFEC00;
    transform: skew(20deg, 0);
}
.company{
    padding-top: 40px;
}
.company h2{
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 16px;
}
.company p{
    display: block;
    max-width: 70%;
}
.company__slider{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 40px;
}
.company__slider__items{
    display: flex;
    flex-direction: column;
    flex: 0 0 27%;
    max-width: 27%;
    padding-left: 16px;
    padding-right: 16px;
}
.company__slider__items--column{
    flex: 0 0 23%;
    justify-content: space-between;
    max-width: 23%;
}
.company__slider__img:last-child{
    padding-bottom: 0;
}
.insta{
    padding: 21px 23px;
    background-color: #000;
}
.insta__box{
    display: flex;
    margin-left: -32px;
    margin-right: -32px;
}
.insta__box__items{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 62%;
    max-width: 62%;
    padding-left: 16px;
    padding-right: 16px;
}
.insta__box__items--first{
    flex: 0 0 38%;
    max-width: 38%;
}
.insta__box__items--row{
    flex-direction: row;
}
.insta__box__items--row img{
    display: flex;
    flex: 1;
    margin-left: -21px;
}
.insta__box__items--row img:first-child{
    margin-left: 0;
}
.insta__box__items--row img:last-child{
    margin-left: -32px;
}
.insta__box__items h2{
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.insta__box__inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}
.insta__box__info{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}
.insta__box__info p{
    line-height: 17px;
    color: #767981;
}
.insta__box__info__head{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.insta__box__info__head img{
    max-width: 32px;
}
.insta__box__info__head p{
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 13px;
    color: #fff;
}
.insta__box__link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0 24px;
    min-width: 182px;
    max-width: 100%;
    height: 65px;
    background-color: #FFEC00;
    border-radius: 100px;
    margin-left: 50px;
    transition: 0.3s all;
}
.insta__box__link:hover{
    background-color: #fff;
}
.line{
    position: absolute;
    right: -5px;
    top: 15px;
    max-width: 54px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}
.box__half{
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
.about__inner{
    position: relative;
}
.about__inner p{
    display: block;
    padding-bottom: 30px;
}
.about__inner h2{
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 30px;
}
.about__inner ul{
    padding-left: 15px;
}
.about__inner ul li{
    list-style: disc;
    color: #FFEC00;
    padding-bottom: 10px;
}
.about__inner ul li span{
    color: #303135;
}
.map{
    padding-top: 40px;
    margin-bottom: 40px;
}
.footer{
    margin-left: 91px;
    margin-bottom: 50px;
}
.footer__box{
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
}
.footer__box__items{
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 150%;
    color: #303135;
    border-right: 1px solid #D1D6E3;
}
.footer__box__items--small{
    flex: 0 0 20%;
    max-width: 20%;
}
.footer__box__items--first{
    flex: 0 0 30%;
    max-width: 30%;
}
.footer__box__items:last-child{
    border: none;
}
.footer__box__items h6{
    display: block;
    font-weight: 700;
    padding-bottom: 10px;
}
.footer__box__items p{
    display: block;
    padding-bottom: 10px;
}
.footer__link{
    display: inline-flex;
}
.footer__link img{
    display: block;
    height: 100%;
    padding-right: 8px;
}
.footer__link p{
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #303135;
}
.footer__soc{
    display: flex;
    gap: 16px;
    padding-bottom: 30px;
}
.footer__page{
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #303135;
    padding-bottom: 12px;
}
.footer__page:last-child{
    padding-bottom: 39px;
}
.footer__pay{
    display: block;
    padding-bottom: 4px;
}
.category__head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.category__head--nocategories{
    padding: 20px 0 15px;
}
.category--border{
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 0;
}
.category__head__items{
    display: flex;
    flex: 1;
}
.category__head__items--sushi{
    flex: 0 0 70%;
}
.category__head__items h1{
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #000000;
    padding-top: 9px;
}
.category__head__items--end{
    justify-content: flex-end;
    margin-right: -30px;
}
.category__head__items--column{
    flex-direction: column;
}
.category__head__list{
    display: flex;
}
.category__head__list__items{
    display: flex;
}
.category__head__list__items--flex{
    flex: 1;
}
.category__head__list__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 12px 15px;
    font-size: 15px;
    line-height: 21px;
    color: #85858C;
    border-left: 1px solid #D6D6D6;
}
.category__head__list__link p{
    white-space: nowrap;
}
.category__head__list__link--sushi p{
    white-space: normal;
}
.category__head__list__link--sushi{
    flex-direction: row;
    gap: 5px;
}
.breadcrumbs__items__link{
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    padding-right: 5px;
}
.breadcrumbs__items__link--active{
    color: #97979E;
    padding-right: 0;
}
.breadcrumbs__items__link--active::before{
    content: "/";
    padding-right: 5px;
}
.breadcrumbs__items__link:nth-child(2n)::before {
    content: "/";
    padding-right: 5px;
}
.products__items{
    border-bottom: 1px solid #D6D6D6;
}
.products__box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}
.products__box__half{
    position: relative;
    border-right: 1px solid #D6D6D6;
}
.products__box__half:after{
    position: absolute;
    content: '';
    left: -30px;
    right: 0px;
    bottom: 0;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #D6D6D6;
}
.products__box__half--borderrnone{
    border-right: none;
}
.products__box__half__inner{
    display: flex;
    margin-left: -9px;
    margin-right: -9px;
    padding-top: 35px;
    padding-bottom: 55px;
}
.products__box__half__imglink{
    display: flex;
    flex: 0 0 48%;
    max-width: 48%;
    padding-left: 9px;
    padding-right: 9px;
}
.products__box__half__imglink--pizza img{
    transition: 1.5s all;
}
.products__box__half__imglink--pizza:hover img{
    transform: rotate(360deg) scale(1.15);
}
.products__box__half__imglink--drinks img{
    transition: 0.3s all;
}
.products__box__half__imglink--drinks:hover img{
    transform: rotate(45deg);
}
.products__box__half__imglink--snacks img{
    transition: 0.3s all;
}
.products__box__half__imglink--snacks:hover img{
    transform: scale(1.05);
}
.products__box__half__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 52%;
    max-width: 52%;
    padding-left: 9px;
    padding-right: 9px;
}
.products__box__half__content a{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #171717;
    padding-bottom: 8px;
}
.products__box__half__content p{
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #303135;
}
.products__box__half__price{
    display: flex;
    align-items: center;
    gap: 20px
}
.products__box__half__price span{
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #171717;
}
.products__box__half__price button{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #FFEC00;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
}
.products__box__half__price button:hover{
    transform: scale(0.90);
}
.info__footer--category{
    position: relative;
    right: 0px;
    top: 0;
    max-width: 895px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-bottom: 70px;
}
.about__btn{
    display: flex;
    justify-content: center;
}
.about__btn__link{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 12px 20px;
    border: 1px solid #B2B4BB;
    border-radius: 100px;
    transition: 0.3s all;
}
.about__btn__link:hover{
    background-color: #FFEC00;
    border: 1px solid #FFEC00;
}
p.about__inner__hidden{
    display: none;
}
p.about__inner__show{
    display: block;
}
p.about__inner__show:last-child{
    padding-bottom: 0;
}
.subcategory{
    background-color: #000;
    padding: 25px 0;
}
.subcategory h2{
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}
.subcategory__box{
    display: flex;
    justify-content: space-between;
}
.subcategory__box__inner{
    position: absolute;
    right: 20px;
    top: -25px;
    max-width: 42%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.subcategory__box__inner__items{
    position: relative;
    content: '';
    height: 89px;
    width: 60px;
    background-color: #FFEC00;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.blog{
    margin-bottom: 50px;
}
.blog__box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.blog__box__items{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
}
.blog__box__items:after{
    position: absolute;
    content: '';
    left: -30px;
    right: 0px;
    bottom: 0px;
    width: calc(100% + 45px);
    height: 1px;
    background-color: #D6D6D6;
}
.blog__items__link{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #171717;
    padding: 27px 0 16px;
    transition: 0.3s all;
}
.blog__box__items__inner p{
    display: block;
    padding-bottom: 16px;
}
.blog__items__readme{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #171717;
    transition: 0.3s all;
}
.blog__items__link:hover, .blog__items__readme:hover{
    color:#FFEC00;
}
.blog__items__link-img img{
    width: 100%;
    transition: 1.0s all;
}
.blog__items__link-img:hover img{
    transform: scale(1.08);
}
.single{
    margin-bottom: 50px;
}
.single__box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 35px;
}
.single__box__article{
    flex: 0 0 69%;
    max-width: 69%;
    padding-left: 15px;
    padding-right: 15px;
}
.single__box__sidebar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 31%;
    max-width: 31%;
    padding-left: 15px;
    padding-right: 15px;
}
.single__box__sidebar__items{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: column;
}
.single__box__sidebar__items img{
    width: 100%;
}
.single__box__sidebar__link{
    display: block;
    padding: 16px 0 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #171717;
    transition: 0.3s all;
}
.single__box__sidebar__link:hover{
    color: #FFEC00;
}
.article img{
    display: block;
    width: 100%;
    padding-bottom: 30px;
}
.article p{
    display: block;
    color: #303135;
    padding-bottom: 15px;
    text-align: justify;
}
.article h2, .article h3, .article h4{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 20px;
}
.article a{
    color: #FFEC00;
    text-decoration: underline;
}
.article ul {
    padding-left: 15px;
    padding-bottom: 15px;
}
.article ul li {
    list-style: disc;
    padding-bottom: 5px;
}
.article ul li::marker{
    color: #FFEC00;
}
.stocks__box{
    display: block;
    padding: 35px 0 30px;
    border-bottom: 1px solid #D6D6D6;
}
.stocks__box__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
.stocks__box__inner__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.stocks__box__inner--revers{
    flex-direction: row-reverse;
}
.stocks__box__inner__column h2{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 60px;
}
.stocks__box__inner__column a{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #57575C;
    transition: 0.3s all;
}
.stocks__box__inner__column a:hover{
    color: #FFEC00;
}
@keyframes pulse {
    from {
      transform: scale(.95);
    }
    50% {
      transform: scale(1);
    }
    to {
      transform: scale(.95);
    }
}
.stocks__img{
    animation: pulse 2s ease-in-out infinite;
}
.delivery__box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 35px;
}
.delivery__box__items{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.delivery__box__items:first-child{
    flex: 0 0 45%;
    max-width: 45%;
}
.delivery__box__items:first-child::after{
    position: absolute;
    content: '';
    top: -35px;
    right: -1px;
    bottom: 0;
    height: calc(100% + 165px);
    width: 1px;
    background-color: #D6D6D6;
}
.delivery__box__items:last-child{
    flex: 0 0 55%;
    max-width: 55%;
}
.delivery__box__items h2{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 16px;
}
.delivery__list{
    padding-left: 30px;
}
.delivery__list__items{
    position: relative;
    padding-bottom: 30px;
}
.delivery__list__items:last-child{
    padding-bottom: 0;
}
.delivery__list__items::before{
    position: absolute;
    top: 6px;
    left: -30px;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;    
}
.delivery__list__items--grren::before{
    border: 5px solid #31B315;
}
.delivery__list__items--yellow::before{
    border: 5px solid #FED740;
}
.delivery__list__items--red::before{
    border: 5px solid #EC5651;
}
.delivery__list__items--blue::before{
    border: 5px solid #255985;
}
.delivery__list__items h3{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 16px;
}
.delivery__box__items p{
    display: block;
    color: #57575C;
}
.policy__box{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.card{
    margin-bottom: 0;
}
.card__box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}
.card__box__items{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 90px;
}
.card__box__items:first-child{
    position: sticky;
    top: 90px;
    align-items: center;
}
.card__box__items:first-child{
    border-right: 1px solid #D6D6D6;
}
.card__picture{
    position: relative;
    padding-bottom: 30px;
    transition: 0.5s all;
    width: 50%;
}
.card__picture--pizza{
    transform: scale(0.9);
}
.card__picture--pizza--normal{
    transform: scale(0.95);
}
.card__picture--pizza--big{
    transform: scale(1.0);
}
.card__box__btn{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.card__box__btn::before{
    position: absolute;
    content: '';
    left: -30px;
    right: 0;
    top: 0;
    width: calc(100% + 45px);
    height: 1px;
    background-color: #D6D6D6;
}
.card__box__items__inner{
    position: relative;
    padding-top: 35px;
    padding-left: 65px;
}
.card__box__items__inner h1{
    display: flex;
    max-width: fit-content;
    font-weight: 700;
    font-size: 30px;
    line-height: 21px;
    color: #000000;
    padding-bottom: 16px;
}
.card__box__items__inner p{
    display: block;
    font-weight: 500;
    max-width: 433px;
    font-size: 13px;
    line-height: 16px;
    color: #303135;
    padding-bottom: 30px;
}
.card__box__items__inner h2{
    display: block;
    padding: 30px 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
}
.card__box__items__inner__row{
    position: relative;
    display: flex;
    align-items: flex-start;
}
.card__box__nutrition{
    display: flex;
    flex: 1;
    padding-left: 16px;
}
.card__box__nutrition__icon{
    width: 20px;
    height: 20px;
}
.nutrition__box{
    position: absolute;
    right: 0;
    top: 0;
    background: #171717;
    box-shadow: 0px 24px 10px rgba(0, 0, 0, 0.01), 0px 14px 8px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.09), 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #AEAEB7;
    width: 235px;
    max-width: 235px;
    transition: 0.3s all;
}
.nutrition__box--active{
    display: flex;
}
.nutrition__box__title{
    display: flex; 
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.nutrition__box p{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #AEAEB7;
}
.nutrition__box__footer{
    font-weight: 600;
}
.card__sizes{
    display: flex;
    max-width: 370px;
    justify-content: space-between;
    border: 1px solid #EDEDED;
    border-radius: 100px;
}
.card__sizes__link{
    display: flex;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    justify-content: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 9px;
    padding: 15px 0;
    color: #85858C;
    transition: all 0.3s linear;
}
.card__sizes__link--active{
    color: #fff;
    background-color: #F44336;
    border-radius: 100px;
}
.card__box__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    width: 100%;
}
.card__box__btn__amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 99px;
    max-width: 99px;
    height: 60px;
    padding: 0 5px;
    border: 1px solid #85858C;
    border-radius: 100px;
    margin-right: 10px;
}
.amount__minus{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #85858C;
    padding-left: 5px;
}
.amount__plus{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #85858C;
    padding-right: 5px;
}
.card__box__btn__add{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 213px;
    max-width: 213px;
    padding: 0 5px;
    height: 60px;
    background: #FFEC00;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    transition: 0.3s all;
}
.card__box__btn__add:hover{
    background: #FFF57B;
}
.card__box__btn__add--modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 213px;
    max-width: 213px;
    padding: 0 5px;
    height: 60px;
    background: #FFEC00;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    transition: 0.3s all;
}
.card__box__btn__add--modal:hover{
    background: #FFF57B;
}
.card__supplements{
    display: flex;
    flex-direction: column;
}
.card__supplements__link{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #EDEDED;
}
.card__supplements__link__title{
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.card__svg{
    width: 16px;
    height: 16px;
    transition: 0.3s all;
}
.card__svg--active{
    transform: rotate(180deg);
}
.description{
    margin-bottom: 60px;
}
.description__box{
    display: block;
    max-width: 100%;
}
.description__box h2, .description__box h3, .description__box h4, .description__box h5, .description__box h6{
    display: block;
    max-width: 50%;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #171717;
    padding-bottom: 16px;
}
.description__box p{
    color: #57575C;
    padding-bottom: 30px;
}
.description__box ul{
    padding-bottom: 30px;
    padding-left: 15px;
}
.description__box ul li {
    list-style: disc;
    padding-bottom: 5px;
    color: #57575C;
}
.description__box ul li::marker{
    color: #FFEC00;
}
.card__supplements__box{
    display: none;
}
.card__supplements__box--active{
    display: block;
}
.card__supplements__box__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #EDEDED;
    margin-left: -5px;
    margin-right: -5px;
}
.supplements__checked{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.supplements__checked__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}
.supplements__checked__circle--active{
    border: 5px solid #00CA76;
}
.supplements__checked__title{
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #85858C;
}
.supplements__price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}
.supplements__price__col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 70px;
    max-width: 70px;
    margin-right: 30px;
}
.supplements__price__col__minus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #85858C;
    cursor: pointer;
}
.supplements__price__col__plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #85858C;
    cursor: pointer;
}
.supplements__price__col__value{
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.supplements__price__value{
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #646464;
}
.supplements__price__span{
    margin-right: 3px;
}
.card__supplements__box__items--active .supplements__checked__title, 
.card__supplements__box__items--active .supplements__price__col__value,
.card__supplements__box__items--active .supplements__price__value,
.card__supplements__box__items--active .supplements__price__col__minus,
.card__supplements__box__items--active .supplements__price__col__plus{
    color: #00CA76;
}
.card__supplements__box__items--active .supplements__price__col__minus,
.card__supplements__box__items--active .supplements__price__col__plus{
    border: 1px solid #00CA76;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: calc(100% - 91px);
    height: 100%;
    opacity: 0;
    visibility: visible;
    background: rgb(24 24 24 / 50%);
    backdrop-filter: blur(5px);
    z-index: -1;
}
.modal__body{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 278px 111px rgba(0, 0, 0, 0.01), 0px 156px 94px rgba(0, 0, 0, 0.05), 0px 69px 69px rgba(0, 0, 0, 0.09), 0px 17px 38px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    color: #303135;
    max-width: 780px;
    padding: 30px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    margin: auto;
    transform: perspective(600px) translate(0px, -100px) rotateX(45deg);
    height: 498px;
    overflow-y: scroll;
}
.modal__body::-webkit-scrollbar{
    height: 7px;
    width: 7px;
    background: #000;
 }
 .modal__body::-webkit-scrollbar-thumb:vertical{
    background: #FFEC00;
 }
.modal--open{
    opacity: 1;
    z-index: 9;
}
.modal--open .modal__body{
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
    margin-top: 2%;
}
.modal__body .card__box__items{
    padding-bottom: 0;
    border: none;
}
.modal__body .nutrition__box{
    right: -30px;
    top: 40px;
}
.modal__close{
    position: absolute;
    top: 15px;
    right: 15px;
}
.card__box__items__inner--modal{
    padding-left: 0;
    padding-top: 0;
}
.card__box__btn--modal::before{
    width: 0;
    height: 0;
}
@media (max-width: 1280px){
    .insta__box__items--row img:last-child{
        display: none;
    }
    .insta__box__items{
        flex: 0 0 58%;
        max-width: 58%;
    }
    .insta__box__items--first {
        flex: 0 0 42%;
        max-width: 42%;
    }
}
@media (max-width: 1199px){
    .header__box__items{
        padding: 0 1px;
    }
    .header__box__items:first-child {
        padding-left: 0;
    }
    .header__social__box__items{
        padding: 0 13px;
    }
    .blog__box{
        margin-left: -10px;
        margin-right: -10px;
    }
    .blog__box__items{
        padding-left: 10px;
        padding-right: 10px;
    }
    .subcategory__box__inner{
        grid-template-columns: repeat(5, 1fr);
    }
    .subcategory__box__inner__items:nth-child(6n), .subcategory__box__inner__items:nth-child(7n){
        display: none;
    }
    .category__head__items--sushi{
        flex: 0 0 85%;
    }
    .insta__box__items--row img:nth-child(3n){
        display: none;
    }
    .line{
        display: none;
    }
    .insta__box__items--first{
        flex: 0 0 48%;
        max-width: 48%;
    }
    .insta__box__items{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 991px){
    .header__box__items:nth-child(2n){
        display: none;
    }
    .header__social__box__items{
        padding: 0 22px;
    }
    .blog__box__items{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .blog__items__link{
        font-size: 20px;
        line-height: 120%;
    }
    .single__box__sidebar__link{
        padding: 10px 0 30px;
        font-size: 16px;
    }
    .footer__box{
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    .footer__box__items{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .footer__box__items:nth-child(2n){
        border-right: none;
    }
    .stocks__box__inner__column h2{
        font-size: 20px;
        padding-bottom: 30px;
    }
    .delivery__box__items h2{
        font-size: 20px;
    }
    .delivery__list__items h3{
        font-size: 20px;
    }
    .products__box__half__inner{
        flex-wrap: wrap;
    }
    .products__box__half__imglink{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .products__box__half__info{
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 20px;
    }
    .products__box__half__price{
        padding-top: 20px;
    }
    .box{
        margin-left: -15px;
        margin-right: -15px;
    }
    .box__half{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__inner h2{
        font-size: 24px;
    }
    .category__head__list__link{
        font-size: 13px;
    }
    .info__footer--category{
        grid-template-columns: repeat(6, 1fr);
    }
    .info__footer{
        grid-template-columns: repeat(12, 1fr);
    }
    .info__footer__items:nth-child(7n),
    .info__footer__items:nth-child(8n),.info__footer__items:nth-child(9n),
    .info__footer__items:nth-child(10n),.info__footer__items:nth-child(11n),
    .info__footer__items:nth-child(12n),.info__footer__items:nth-child(13n),
    .info__footer__items:nth-child(14n),.info__footer__items:nth-child(15n){
        display: none;
    }
    .modal__body{
        padding: 30px 10px;
        overflow-x: hidden;
    }
    .card__picture{
        width: 100%;
    }
    .card__box__btn{
        justify-content: space-between;
        flex: 0 0 100%;
        width: 100%;
    }
    .card__box__btn__amount{
        flex: 0 0 80px;
        max-width: 80px;
    }
    .card__box__btn__add{
        flex: 0 0 150px;
        max-width: fit-content;
        padding: 0 15px;
    }
    .subcategory__box__inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .subcategory__box__inner__items:nth-child(3n), .subcategory__box__inner__items:nth-child(4n), .subcategory__box__inner__items:nth-child(5n){
        display: none;
    }
    .category__head__items--sushi{
        justify-content: space-between;
        flex: 0 0 100%;
        max-width: calc(100% + 60px);
        margin-right: 0;
        margin-left: -30px;
    }
    .category__head__list--sushi{
        width: 992px;
        justify-content: space-between;
        border-top: 1px solid #D6D6D6;
        margin-top: 12px;
        overflow-x: scroll;
        align-items: stretch; 
    }
    .card__box__items__inner{
        padding-left: 0;
    }
    .description__box h2, .description__box h3, .description__box h4, .description__box h5, .description__box h6{
        max-width: 100%;
    }
    .insta__box__items--row img:nth-child(2n){
        display: none;
    }
    .info__box{
        grid-template-columns: repeat(1, 1fr);
    }
    .insta__box__link{
        margin-left: 0;
        padding: 0 21px;
        min-width: 110px;
    }
    .company__slider{
        margin-left: -10px;
        margin-right: -10px;
    }
    .company__slider__items{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 767px){
    section{
        margin-left: 0;
    }
    .wrapper{
        padding: 0 15px;
    }
    .wrapper--border{
        padding: 0 5px;
    }
    .header__left{
        position: relative;
        left: -15px;
        width: 100%;
        overflow-x: scroll;
    }
    .header__left__box{
        position: relative;
        flex-direction: row;
        width: 768px;
        max-width: 768px;
        height: 85px;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: stretch;
        border-right: none;
    }
    .header__left__box__items{
        flex: 1;
    }
    .header__box__items:first-child{
        display: none;
    }
    .header__social__box__items {
        padding: 0 20px;
    }
    .breadcrumbs{
        padding-top: 10px;
    }
    .category__head__items--column{
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category__head__items--end{
        justify-content: space-between;
        flex: 0 0 100%;
        max-width: calc(100% + 30px);
        margin-right: 0;
        margin-left: -15px;
    }
    .category__head__list{
        display: flex;
        width: 768px;
        justify-content: space-between;
        border-top: 1px solid #D6D6D6;
        margin-top: 12px;
        overflow-x: scroll;
        align-items: stretch;
    }
    .category__head__list::-webkit-scrollbar{
        height: 3px;
        width: 3px;
        background: #000;
     }
     .category__head__list::-webkit-scrollbar-thumb{
        background: #FFEC00;
     }
    .category__head__list__items{
        display: flex;
        flex: 1;
        justify-content: center;
        border-left: 1px solid #D6D6D6;
    }
    .category__head__list__link--sushi p {
        white-space: nowrap;
    }
    .category__head__list__items--flex{
        padding: 0 15px;
    }
    .category__head__list__items:first-child{
        border-left: none;
    }
    .category__head__list__link{
        border-left: none;
    }
    .subcategory__box__inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .subcategory__box__inner__items:nth-child(2n){
        display: none;
    }
    .single__box__article{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single__box__sidebar{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .single__box__sidebar{
        flex-direction: row;
        margin-left: -15px;
    }
    .single__box__sidebar__items{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .delivery__box{
        margin-left: -15px;
        margin-right: -15px;
    }
    .delivery__box__items{
        padding-left: 15px;
        padding-right: 15px;
    }
    .single__box__sidebar__items:nth-child(2n){
        padding-right: 0;
    }
    .box__half{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category__head__items--end{
        margin-right: 0;
    }
    .products__box__half:after{
        left: -15px;
        width: calc(100% + 30px);
    }
    .map{
        padding: 40px 15px 0;
    }
    .footer{
        margin-left: 0;
    }
    .modal{
        max-width: 100%;
    }
    .modal__body{
        padding: 30px;
    }
    .card__box__items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card__box__items:first-child{
        position: relative;
        top: 0;
        padding-bottom: 0;
        border-right: none;
    }
    .card__picture{
        width: 50%;
    }
    .card__box__btn{
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .card__box__btn::before{
        left: -15px;
        width: calc(100% + 30px);
    }
    .card__sizes{
        max-width: 100%;
    }
    .card__box__btn__amount {
        flex: 0 0 99px;
        max-width: 99px;
    }
    .card__box__btn__add{
        flex: 0 0 213px;
        max-width: 213px;
        padding: 0 5px;
    }
    .description__box h2, .description__box h3, .description__box h4, .description__box h5, .description__box h6{
        font-size: 24px;
    }
    .insta__box__link{
        margin-top: 16px;
    }
    .insta__box__link {
        margin-left: 15px;
        min-width: calc(100% - 30px);
    }
    .hero__box{
        flex-direction: column-reverse;
    }
    .hero__box__items{
        flex: 0 0 100%;
        max-width: 100%;
        gap: 0 32px;
        margin-left: 0;
        margin-right: 0;
    }
    .hero__box__link {
        display: flex;
        flex: 0 0 50%;
        max-width: calc(50% - 16px);
        padding-left: 0;
        padding-right: 0;
    }
    .hero__discount{
        padding-bottom: 32px;
    }
    .hero__box__discount--first{
        padding-left: 0;
    }
    .insta__box__items h2{
        font-size: 26px;
    }
    .company p{
        max-width: 100%;
    }
    .company__slider__items{
        flex: 0 0 57%;
        max-width: 57%;
        padding-bottom: 20px;
    }
    .company__slider__items--column{
        flex: 0 0 43%;
        max-width: 43%;
    }
}
@media (max-width: 575px){
    .header__social__box__items {
        padding: 0 10px;
    }
    .header__icon__svg{
        height: 20px;
        width: 20px;
    }
    .bascket{
        top: -10px;
        right: -10px;
        height: 16px;
        width: 16px;
        font-size: 10px;
    }
    .blog__box__items {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog__box__items:after{
        position: relative;
        bottom: -30px;
    }
    .footer__box__items{
        flex: 0 0 100%;
        max-width: 100%;
        border: none;
    }
    .footer{
        margin-bottom: 30px;
    }
    .single__box__sidebar__items{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }
    .category__head__items h1{
        font-size: 24px;
    }
    .article h2, .article h3, .article h4{
        font-size: 20px;
    }
    .stocks__box__inner__column{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .stocks__box__inner__column h2{
        padding-top: 15px;
    }
    .subcategory__box__inner{
        display: none;
    }
    .delivery__box__items:first-child{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .delivery__box__items:last-child{
        padding-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .delivery__box__items:first-child::after{
        top: 0;
        right: 0;
        bottom: 0;
        height: 0;
        width: 0;
        background-color: transparent;
    }
    .products__box{
        grid-template-columns: repeat(1, 1fr);
        gap: 0 20px;
    }
    .products__box__half{
        border-right: none;
    }
    .modal__body{
        padding: 30px 10px;
    }
    .products__box__half__imglink--pizza img{
        width: 100%;
    }
    .subcategory h2{
        font-size: 24px;
    }
    .hero__box__link {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .info__box__items h1{
        font-size: 26px;
    }
    .company h2{
        font-size: 26px;
    }
    .info__footer {
        grid-template-columns: repeat(9, 1fr);
    }
}
@media (max-width: 424px){
    .header__social__box__items {
        padding: 0 8px;
    }
    .header__icon__svg {
        height: 16px;
        width: 16px;
    }
    .header__left__box{
        height: 65px;
    }
    .header__left__link img{
        max-width: 25px;
    }
    .insta__box__items h2 {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .company__slider__items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .company__slider__img{
        padding-bottom: 20px;
    }
    .info__footer {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media (max-width: 374px){
    .blog__items__link {
        font-size: 18px;
    }
    .card__box__btn{
        flex-wrap: wrap;
    }
    .card__box__btn__amount{
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .card__box__btn__add{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .insta__box{
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .insta__box__items{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .insta__box__items--first{
        padding-bottom: 20px;
    }
    .info__footer{
        grid-template-columns: repeat(8, 1fr);
    }
}
@media (max-width: 319px){
    .info__footer {
        grid-template-columns: repeat(7, 1fr);
    }
}